
body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-vector/thermometer-cold-hot-icon-freeze-temperature-vector-weather-warm-cool-indicator-meteorology-thermometers-measuring-heat-cold-vector-illustration_230850-207.jpg");
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-image: url("https://www.aph.org/app/uploads/2020/08/question-mark-2492009_1920.jpg");
  background-size: cover; 
  background-position: center; 
  padding: 20px;
  background-color: #5a5256;
  border-radius: 10px;
  text-align: center;

}



h1 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}


h4 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
}

p {
  font-size: 50px;
  font-weight: 600;

}